Source: gcc
Section: devel
Priority: optional
Maintainer: Stefan Lankes <slankes@eonerc.rwth-aachen.de>
Build-Depends: debhelper (>=9),autotools-dev
Standards-Version: 3.9.6
Homepage: http://www.hermitcore.org
Vcs-Git: git@github.com:RWTH-OS/gcc.git
Vcs-Browser: https://github.com/RWTH-OS/gcc.git

Package: gcc-hermit-bootstrap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: gcc-hermit
Description: Bootstrap compiler for HermitCore toolchain

